.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
    color: #2e1902;

}


header {
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    height: 600px;
}



/* primary section  */
img {
    border-radius: 50px;
}


.btn-primary {
    text-decoration: none;
    background-color: #fbeee0;
    padding: 12px 36px;
    border: 2px solid #af5e07e5;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #2e1902;
}

.btn-primary:hover {
    background-color: #f8b66f;
    transition: 0.6s;
    border: 2px solid black;
}


/* nav style  */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    align-items: center;
}

.text-primary {
    color: #af5e07e5;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

/* banner-content */

.banner-content {
    width: auto;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 85px;
}

.banner {
    margin: 150px 250px;
    text-align: center;
}

/* action section  */

.action {
    display: flex;
    justify-content: space-between;
    margin: 150px;
}

.action-text {
    width: 500px;
    margin-top: 60px;
}

.action-h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;

}

.action-h6 {
    font-weight: 400;
    font-size: 18px;
    margin: 15px 0px 25px 0px;
}

/* productive */

.productive-text {
    display: flex;
    justify-content: space-around;
}

.productive {
    text-align: center;
    border: 1px solid black;
    margin: 150px;
    padding: 40px;
    border-radius: 25px;
    background-color: #fbeee075;
}

.procuctivies {
    font-size: 40px;
    margin-bottom: 80px;
}

.productiveh1 {
    font-size: 70px;
    font-weight: bold;

}

.productiveh6 {
    font-size: 20;
}

/* user section  */
.usser-heading {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    display: block;
}

.users {
    display: flex;
    justify-content: space-around;
    margin: 110px 140px;
}

.user-rating {
    display: flex;
    margin: 15px 0px;
}

.user-level {
    font-weight: bold;
    font-size: 25px;
}

.usercomment {
    font-weight: 400;
    width: 300px;
    margin: 10px 0px;
}

.user-name {
    display: flex;
}

.name-dates {
    margin-left: 10px;
}

.name {
    font-weight: bold;
}

.date {
    font-weight: 300;
}

/* user-list */
.focus {
    text-align: center;
    margin: 150px;
}

.user-list {
    padding: 20px;
    background-color: #fbeee075;
    width: 300px;
    border-radius: 15px;
}

.focus-header {
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 30px;
}

.focus-title {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}

.focus-button {
    text-align: center;

}

.last-from {
    display: flex;
    justify-content: space-between;
}